$mainColor: #56915D;
$secondaryColor: #ADD8B3;
$complimentaryColor: #91568A;

$darkA: #07240f;
$darkB: #24071C;
$light: #e1f9e8;

$tetradicA: $secondaryColor;
$tetradicB: #ADBDD8;
$tetradicC: #D8ADD2;
$tetradicD: #D8C8AD;